@import "/src/shared/style/variables.module.scss";

.details-annonce {
  margin-top: 5%;
  .thumbs-wrapper {
    margin: auto !important;
    width: fit-content;
    .thumbs {
      padding: 0;
    }
  }
  .img-container {
    position: relative;
  }
  .liking-gif {
    // width: 40% !important;
    // width: 0%;
    // &.action {
    //   transition: all ease-in-out 1.2s;
    //   width: 100%;
    // }
    left: 0 !important;
  }
}
.card_annonce {
  width: 80%;
  margin: auto;
  background: $primary-pale;
  border-radius: 15px;
}
.info_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .MuiCheckbox-root.Mui-checked {
    color: #ca4e4e !important;
  }
  .icon-action {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    place-content: center;
    place-items: center;
  }
}
