@import "/src/shared/style/variables.module.scss";

.details-annonce {
  .thumbs-wrapper {
    margin: auto !important;
    width: fit-content;
    .thumbs {
      padding: 0;
    }
  }
  .img-container {
    position: relative;
    img {
      max-height: 30rem;
    }
    .thumb {
      img {
        height: 5rem;
      }
    }
  }
  .liking-gif {
    left: 0 !important;
  }
}
.info-container {
  height: inherit;
}
.card_annonce {
  width: 80%;
  margin: auto;
  background: $primary-pale;
  border-radius: 15px;

  height: 80%;
  overflow-y: scroll;
}
.info_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .MuiCheckbox-root.Mui-checked {
    color: #ca4e4e !important;
  }
  .icon-action {
    display: flex;
    flex-direction: column;
    align-items: center;

    .flex {
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 10%;
    }
    .icon {
      color: gray;
    }
  }
}
