@import "./variables.module.scss";
a {
  color: black;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center !important;
}

.light {
  font-weight: 500;
}

.big {
  font-size: 1.2rem;
}

.strong {
  font-weight: bold;
}
.div-primary {
  background-color: $theme-color !important;
  color: white !important;
}
.div-warning {
  background-color: $warning !important;
  color: white !important;
}
.div-success {
  background-color: $success !important;
  color: white !important;
}

.div-danger {
  background-color: $danger !important;
  color: white !important;
}
.text-danger {
  color: $danger !important;
}

.carousel-root {
  .control-dots {
    margin: 0;
    background: #ffffff69;
  }
  .carousel-status {
    color: black;
    font-size: 1rem;
    border-radius: 25%;
    border-radius: px;
    background: #9c9a9a6b;
    padding-inline: 0.5rem;
  }
  .dot {
    opacity: 0.6;
    background: $secondary !important;
    &.selected {
      background: rebeccapurple;
      opacity: 1;
    }
  }
  .thumbs {
    padding: 0;
  }
  .slide {
    div {
      height: 100%;
    }
  }
}

.secondary-text {
  color: $secondary !important;
}

.primary-text {
  color: $primary !important;
}

.accent-text {
  color: $accent !important;
}

.accent-div {
  background-color: $accent;
}

.primary-div {
  background-color: $primary;
}

.secondary-div {
  background-color: $secondary;
}
