$theme-color: #317b93;
$light-blue: #45bdc5;
$success: #27b81f;
$danger: #c93e3e;
$warning: rgb(225, 167, 58);
$primary: #3dc2bc;
$secondary: #3d86c2;
$accent: #3dc279;
$primary-pale: #3dc2bc1c;

:export {
  theme-color: $theme-color;
  light-blue: $light-blue;
  success: $success;
  danger: $danger;
  warning: $warning;
  primary: $primary;
  secondary: $secondary;
  accent: $accent;
  primary-pale: $primary-pale;
}
