$theme-color: #317b93;
$light-blue: #45bdc5;
$success: #27b81f;
$danger: #c93e3e;
$warning: rgb(225, 167, 58);
$message-bulle: #45bdc57d;

:export {
  theme-color: $theme-color;
  light-blue: $light-blue;
  success: $success;
  danger: $danger;
  warning: $warning;
  message-bulle: $message-bulle;
}
