@import "/src/shared/style/variables.module.scss";

.title {
  margin-block: 1rem;
  text-align: center;

  h1 {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 10%;
      height: 5px;
      background-color: $accent;
      position: absolute;
      left: 45%;
      // bottom: 0;
    }
  }
}
