.square-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .square-item {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
  }
  .square-logo {
    display: grid;
    place-content: center;
    img {
      height: inherit;
    }
  }
}
