.liste-annonce {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  gap: 2rem;
}
.p_end_scroll {
  padding: 1rem 0rem;
}
.infinite-scroll-component {
  height: inherit !important;
  overflow: inherit !important;
}
