.annonce-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  transition: all ease-in-out 0.3s !important;
  .container:hover {
    // transform: scale(1.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .annonce-info {
    text-align: left;
    margin-top: 5%;
    padding-inline: 2rem;
    &.padding {
      padding-bottom: 2rem;
    }
  }
  .favorite-icon {
    text-align: right;
    .MuiCheckbox-root.Mui-checked {
      color: #ca4e4e !important;
    }
  }
  .annonce-images {
    padding: 1rem 1rem 0rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
