@import "/src/shared/style/variables.module.scss";

.landing-bg {
  height: 100vh;
  background: url("/public/images/landing-page.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .landing-text {
    position: relative;
    margin-inline: 5%;
    width: 40%;
    // position: relative;
    .content {
      .text {
        position: relative;
        padding-left: 1rem;

        &::before {
          content: "";
          display: block;
          width: 5px;
          height: 100%;
          background-color: $secondary;
          position: absolute;
          left: 0;
        }
      }
    }

    h1 {
      margin: 0;
    }
    .div-action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 1rem;
      width: 80%;
      .btn {
        gap: 0.5rem;
        &-sell {
          background: #c48c39;
        }
        &-buy {
          background: #4caf50;
        }
      }
    }
  }
  .landing-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -3;
    width: 65%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 900px) {
  .landing-bg {
    background: url("/images/bg-parking-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landing-text {
    background: #b0afafc7;
    padding: 2rem;
    border-radius: 15px;
    .landing-title {
      color: $secondary !important;
    }
    .content {
      .text {
        &::before {
          background-color: $primary !important;
        }
      }
    }
  }
  .landing-img {
    display: none;
  }
}
