.filtre-bar {
  background-color: aliceblue;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 2rem 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all ease-in-out 0.5s;
  overflow: scroll;
  max-height: calc(100vh - 4rem);
  .close-filter {
    font-size: 1rem;
    color: black;
  }
  &.show {
    width: 20rem;
  }
  &.hide {
    width: 0rem;
    padding: 0;
    overflow: hidden;
  }
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &-action {
      display: flex;
      justify-content: center;
    }
    .input-group {
      display: flex;
      align-items: center;
      gap: 2%;
    }
  }
}
