@import "./shared/style/variables.module.scss";

.box-color {
  aspect-ratio: 2/1;
  width: 3rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 6px;
}

.card {
  padding: 2em;
}

.no-margin {
  margin: 0;
}
