@font-face {
  font-family: Jost;
  src: url("./assets/fonts/Jost.ttf");
}

html {
  height: 100vh;
}

body {
  font-family: "Jost";
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}